<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Document</title>
</head>
<body>
   
    <form action="/facts/<%=result.id%>?_method=PUT" method="POST">

        <input   type="text" name="type" value="<%= result.type%>">
        <br>
        <br>
        <input   type="text" name="text" value="<%= result.text%>">
        <br>
        <br>
        <button type="submit">Update</button>
        <br>
        <br>

    </form>
        <form action="/facts/<%=result.id%>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
      
</div>

</body>
</html>